*{
    margin: 0;
    padding: 0;
}

.pageOne{
    padding: 25px 0 0 0;
    display: flex;
    width: 100%;
    background-color: #FDF6F8;
    justify-content: space-around;
}
.pageOne img{
    margin-left: -20rem;
}
.pic1{
    height: 100%;
    width: 300px;
}

.pageOneDetails{
    align-items: center;
    padding: 15px 0 0 0;
}
.btn:hover, .btn2:hover{
    background-color: greenyellow;
    color: white;
}
.details1{
    margin-bottom: 20px;
    font-weight: bold;
    font-size:50px;
}

.btn{
    background-color: rgb(229, 84, 115);
    border: none;
    padding: 13px;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
}
.pageThirdDetails{
    text-align: center;
    align-items: center;
}
.pageThird{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #d70641;
    border: none;
    padding: 40px;
}
.picThird img {
    margin-left: -20rem;
    width: 210px;
    height: 250px;
}
.page3rdDetail{
    margin-bottom: 20px;
}
.picdetail, .thirdPicdetail, .pageTwoDetail{
    width: 35%;
    margin: auto;
}

/* .picdetail{
    width: 35%;
    margin: auto; 
} */
.instagram{
    font-size: 27px;
}
.pageForth{
    text-align: center;
    margin: 20px;
    margin-top: 70px;
}
.h2{
    font-size: 30px;
}
.instagram{
    margin-bottom: 20px;
}
.all-img{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 18px;
    
    /* width: 90%; */
}
.all-img img{
    height: 230px;
    width: 220px;
    /* margin:0 0 0 10px; */
}
.picdetails{
    width: 35%;
    margin: auto;
    color: rgb(103, 98, 92);
}
.picdetails1{
    margin-top: 20px;
    color: rgb(103, 98, 92);
}

.pageForthBox{
    margin-top: 75px;
    background-image: url(Rectangle\ 9.png);
    height: 270px;
    width: 76%;
    /* max-width: 76%; */
    margin-left: 12%;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.emailBox{
    margin-top: 30px;
    padding: 20px;
    width: 500px;
    height: 4px;
    border: none;
    background-color: white;
    border-radius: 5px;
}

.btn2{
    padding: 14px;
    border: none;
    background-color: rgb(229, 84, 115);
    color: white;
    border-radius: 5px;
    margin-left: 5px;
    /* height: 40px; */
}
.flower{
    color: red;
    
}
.FlowerShop{
    margin-top: 80px;
    margin-bottom: 20px;
    color: white;
}
.footerDetail{
    width: 35%;
    margin: auto;
    /* text-align: center; */
    color: white;
}
.footer{
    margin-top: 80px;
   /* margin: auto; */
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    /* color: white; */
    padding: 8px 0 90px 0;
}
.h6{
    margin-top: 20px;
    color: rgb(103, 98, 92);
    /* margin-bottom: 50px; */
}
.pageTwo{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}

.pageTwoDetail{
    color: rgb(103, 98, 92);
    margin-top: 20px;

}
.photos{
    justify-content: center;
    margin-top: 30px;
    display:flex;

    
}
.photos .photoBox1 img{
    margin: 0 0 0 10px;
    border-radius: 50% 50% 0 0;
    border: 1px solid;
    border-color: black;
    padding-inline: 20px;
    padding-top: 10px;
    height: 180px;
    width: 140px;
    
}
.pageTwoBox{
    width: 500px;
    border: 1px solid;
    padding: 30px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    /* margin: 0 0 0 40px; */
}
.pageTwoBox1, .pageTwoBox2{
    margin-right: 30px;
}
.pageTwoBox img{
    
    height: 50px;
    width: 50px;
}